@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif; }

.header {
  padding-top: 1rem;
  background-color: black;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: url(../img/foto-header2.png);
    z-index: -1;
    background-size: cover; }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header__logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2rem;
    color: white;
    text-decoration: none; }
    .header__logo span {
      color: crimson; }
  .header__title {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto; }
    .header__title h1 {
      text-shadow: 2px 2px 1px black;
      padding: 1rem; }
      .header__title h1 span {
        color: red; }
    .header__title h3 {
      color: white;
      text-shadow: 1px 3px 1px black; }
  .header__lista {
    padding-right: 3rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header__item {
    list-style: none; }
  .header__link {
    text-decoration: none;
    color: white; }
    .header__link:hover {
      color: crimson; }

@media screen and (max-width: 600px) {
  .header__logo {
    padding-left: 1rem; }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    padding-left: 1rem; }
  .header__title {
    padding-left: 0; }
  .header__lista {
    padding-left: 1rem;
    padding-right: 0;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .header__item {
    list-style: disc;
    color: white; }
  .header__link {
    font-size: 1.5rem; } }

.main {
  background-color: black;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center; }
  .main h2 {
    color: white; }
  .main__title {
    text-align: center;
    padding: 1rem; }
  .main-contenedor {
    display: flex;
    background-color: black;
    padding: 0 1rem 0 1rem;
    gap: 2rem;
    border: #3a3636 dotted 1px;
    border-radius: 5px;
    justify-content: center;
    flex-wrap: wrap; }
    .main-contenedor__card {
      min-width: 300px;
      height: 300px;
      background-color: black;
      margin-top: 3rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: crimson solid 1px; }
      .main-contenedor__card a {
        text-decoration: none; }
        .main-contenedor__card a :hover {
          color: crimson; }
    .main-contenedor__img {
      max-width: 250px;
      min-height: 187px;
      border-radius: 5px; }
    .main-contenedor__sub {
      padding-top: 1rem;
      color: white;
      text-transform: uppercase; }

@media screen and (max-width: 600px) {
  .main__title {
    margin-top: 1rem;
    border: #4b2424 1px;
    border-style: dashed;
    padding: 1rem; }
    .main__title h2 {
      padding: 0.5rem; }
  .main-contenedor {
    height: max-content;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;
    width: auto;
    gap: 0.5rem;
    border: none; }
    .main-contenedor__card {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .main-contenedor__img {
      max-width: 250px; }
    .main-contenedor__sub {
      padding-top: 1rem;
      text-transform: uppercase; } }
