@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: black; }

h4 {
  font-size: inherit; }

.header {
  padding-top: 1rem;
  background-color: black;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: url(../img/foto-header2.png);
    z-index: -1;
    background-size: cover; }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header__logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2rem;
    color: crimson;
    text-decoration: none; }
    .header__logo--red:hover {
      color: crimson; }
    .header__logo--size {
      display: block;
      font-size: 0.9rem;
      font-style: italic;
      font-weight: 200; }
    .header__logo span {
      color: white; }
  .header__title {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto; }
    .header__title h1 {
      text-shadow: 2px 2px 1px black;
      padding: 1rem; }
      .header__title h1 span {
        color: red; }
    .header__title h3 {
      color: white;
      text-shadow: 1px 3px 1px black; }
  .header__sub {
    text-align: center;
    color: white;
    padding-bottom: 6rem; }
    .header__sub span {
      color: crimson; }
  .header__lista {
    padding-right: 3rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header__item {
    list-style: none; }
  .header__link {
    text-decoration: none;
    color: white;
    font-weight: 700; }
    .header__link:hover {
      color: crimson; }

@media screen and (max-width: 600px) {
  .header__logo {
    padding-left: 1rem; }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    padding-left: 1rem; }
  .header__title {
    padding-left: 0; }
    .header__title h1 {
      visibility: hidden; }
    .header__title h3 span {
      color: crimson; }
  .header__lista {
    display: none; } }

.main {
  background-color: black;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 1;
  position: relative; }
  .main h2 {
    color: white; }
  .main__title {
    text-align: center;
    padding: 1rem; }
  .main-contenedor {
    display: flex;
    background-color: black;
    padding: 1rem 1rem 1rem 1rem;
    gap: 2rem;
    border: #3a3636 dotted 1px;
    border-radius: 5px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    .main-contenedor__card {
      width: 300px;
      height: 300px;
      background-color: black;
      margin: 1rem;
      border-radius: 5px;
      display: flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: crimson solid 1px; }
      .main-contenedor__card a {
        text-decoration: none; }
        .main-contenedor__card a :hover {
          color: crimson; }
    .main-contenedor__img {
      max-width: 250px;
      min-height: 187px;
      border-radius: 5px; }
    .main-contenedor__link {
      padding-top: 1rem;
      color: white;
      text-transform: uppercase; }
      .main-contenedor__link:hover {
        color: crimson; }

.carousel-item, .carousel-inner {
  max-width: 800px; }

#carouselExampleIndicators {
  padding: 0 5rem; }

.main-paises {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex-wrap: wrap; }
  .main-paises h2 {
    color: white;
    text-transform: uppercase; }
  .main-paises__divTitle {
    margin: 2rem 0rem 1rem 0rem; }

.combos {
  border-top: grey 3px dotted;
  padding: 3rem 0 3rem 0; }
  .combos div {
    flex-wrap: wrap; }

.box {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem; }
  .box img {
    width: 500px; }
  .box__left {
    border: #4b2424 3px solid;
    border-radius: 5px;
    padding: 2rem;
    width: 424px;
    height: 350px; }
  .box__textoUno {
    color: white;
    font-style: normal;
    text-transform: uppercase; }
  .box__textoDos {
    padding-top: 2rem; }
    .box__textoDos p {
      color: crimson;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 700; }
  .box__buttom {
    height: 50px;
    margin-top: 2rem;
    margin-bottom: 0.5rem; }
    .box__buttom a {
      padding: 1rem;
      background-color: crimson;
      border-radius: 5px;
      color: white; }
      .box__buttom a:hover {
        color: black;
        font-weight: 900; }
    .box__buttom--margin {
      margin-top: 3.5rem; }

h3 {
  color: white;
  margin-bottom: 2rem; }

.combos-fritas {
  border-top: grey 3px dotted;
  padding-bottom: 2rem; }
  .combos-fritas__title {
    padding-top: 3rem; }

#carouselExampleCaptions {
  padding: 0rem 7rem; }

.carousel-caption {
  padding-bottom: 0rem; }
  .carousel-caption h5 {
    text-shadow: crimson 1px 1px 1px; }
  .carousel-caption p {
    text-shadow: black 1px 1px 1px; }

.snacks {
  margin: 1rem; }
  .snacks__contenedor {
    flex-wrap: wrap;
    border-top: grey 3px dotted;
    padding-top: 3rem; }
  .snacks__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .snacks__img {
    max-width: 550px;
    border-bottom: #4b2424 3px solid;
    padding-top: 3rem;
    padding-bottom: 5rem; }
  .snacks__lista {
    line-height: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    list-style-type: none; }
  .snacks__item {
    color: white;
    border-bottom: 1px #4b2424 dotted;
    text-align: left; }
    .snacks__item span {
      color: crimson;
      font-weight: 500; }
  .snacks__left {
    border-left: #4b2424 solid 3px;
    border-right: #4b2424 solid 3px;
    border-top: #4b2424 solid 3px; }
  .snacks__salsas {
    border-left: #4b2424 solid 3px;
    border-right: #4b2424 solid 3px;
    border-bottom: #4b2424 solid 3px; }
    .snacks__salsas h3 {
      padding-top: 1rem;
      color: white; }
    .snacks__salsas p {
      color: white;
      padding-bottom: 1rem;
      font-weight: 600; }
    .snacks__salsas span {
      color: crimson; }

.main__buttonUp {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: crimson;
  color: white;
  text-decoration: none; }
  .main__buttonUp:hover {
    color: black;
    font-weight: 800; }

.txt__menu p {
  color: white; }

.link__menu {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  color: crimson;
  text-decoration: none; }
  .link__menu:hover {
    color: black;
    font-weight: 800; }

@media screen and (max-width: 500px) {
  .main__title {
    margin-top: 1rem;
    border: #4b2424 1px;
    border-style: dashed;
    padding: 1rem;
    width: 310px; }
    .main__title h2 {
      padding: 0.5rem; }
  .main-contenedor {
    height: max-content;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;
    gap: 0.5rem;
    border: none;
    max-width: 360px;
    margin: 0; }
    .main-contenedor__card {
      margin-top: 1.5rem;
      display: flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      max-width: 270px; }
    .main-contenedor__img {
      max-width: 250px; }
    .main-contenedor__link {
      padding-top: 1rem;
      text-transform: uppercase; }
  #carouselExampleIndicators {
    padding: 0 2rem; }
  .main-paises {
    text-align: center;
    padding: 0;
    border: none; }
    .main-paises__divTitle {
      text-align: center;
      margin: 1.5rem; }
    .main-paises__title {
      border: #4b2424 1px;
      border-style: dashed;
      padding: 1rem; }
  .combos {
    display: flex;
    flex-direction: column;
    width: 320px; }
    .combos h3 {
      text-decoration: underline;
      font-size: 20px; }
  .box {
    align-items: center;
    max-width: 360px;
    justify-content: center;
    gap: 2rem; }
    .box__left {
      max-width: 300px;
      height: 420px; }
      .box__left--small {
        height: 330px; }
    .box img {
      max-width: 280px; }
    .box__textoUno p {
      font-size: 0.9rem; }
    .box__buttom {
      margin-top: 3rem;
      margin-bottom: 1rem; }
  #carouselExampleCaptions {
    padding: 0.5rem 1.5rem; }
  .carousel-caption {
    padding-bottom: 0.75rem; }
    .carousel-caption p {
      margin-bottom: 0;
      font-size: 0.7rem;
      color: white;
      font-weight: 900;
      text-shadow: black 1px 1px 1px; }
    .carousel-caption h5 {
      visibility: hidden; }
  .combos-fritas__title h3 {
    font-size: 1.2rem; }
  .snacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .snacks__card {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .snacks__title {
      font-size: 1rem; }
    .snacks__img {
      width: 320px;
      border-bottom: none;
      padding-bottom: 0; }
    .snacks__lista {
      margin: 0; }
    .snacks__left {
      margin-top: 2rem; }
    .snacks__left {
      border: none;
      padding-top: 0; }
    .snacks__salsas {
      border: 2px solid #4b2424;
      padding: 1rem; } }

.footer {
  background-color: black;
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: 3px solid white;
  text-align: center; }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; }
  .footer__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    list-style: none;
    padding-right: 3rem; }
  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__link {
    text-decoration: none; }
    .footer__link:hover {
      color: crimson; }
  .footer__txt {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-style: italic; }

.cwhite {
  color: white; }
  .cwhite-small {
    font-size: 0.9rem;
    font-style: italic; }
  .cwhite-large {
    font-size: 1.5rem; }

.cred {
  color: crimson; }
  .cred-large {
    font-size: 1.5rem; }

.fa-instagram {
  color: white;
  font-size: 1rem; }

.fa-facebook {
  color: white;
  font-size: 1rem; }

@media screen and (max-width: 550px) {
  .footer__container {
    flex-direction: column; } }

.contenedor-form {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form__inputt {
  box-shadow: 20px 20px 10px black; }

.form__title {
  color: white;
  text-transform: uppercase; }

.form__div {
  width: 360px;
  padding: 1rem 0; }

.form__name, .form__mail, .form__msj, .form__cel {
  color: crimson;
  font-weight: 400;
  text-shadow: 3px 3px 1px 1px black; }

.form__txtarea {
  background-color: black;
  margin-top: 1rem;
  opacity: 0.8; }
  .form__txtarea:focus {
    color: white;
    font-style: italic; }

.form__btn {
  padding: 0.5rem;
  background-color: crimson;
  color: white;
  margin-top: 1rem; }
  .form__btn:hover {
    color: crimson;
    background-color: white; }

.head__txt {
  color: white;
  font-style: italic;
  font-weight: 700; }
  .head__txt span {
    color: crimson;
    text-transform: uppercase;
    font-style: normal; }

.footer--noborder {
  border: none;
  margin-top: 0; }

@media screen and (max-width: 500px) {
  .contenedor-form {
    padding-top: 2rem; }
  .form__parrafo {
    margin-bottom: 10rem; }
  .footer--noborder {
    border-top: 3px solid white; }
  .head__txt {
    font-weight: 600; }
  .header--margin {
    margin-bottom: 10rem; } }
