@import './scss/utilities/mixins';
$colorBorder: rgb(75, 36, 36);

.main {
    background-color: black;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 1;
    position: relative;

    h2 {
        color: white;
    }

    &__title {
        text-align: center;
        padding: 1rem;
    }
   
    &-contenedor {
        display: flex;
        background-color: black;
        padding: 1rem 1rem 1rem 1rem;
        gap: 2rem;
        border: rgb(58, 54, 54) dotted 1px;
        border-radius: 5px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;


        &__card {
            width: 300px;
            height: 300px;
            background-color: black;
            margin: 1rem;
            border-radius: 5px;
            display: flex;
            @include flex(column, center);
            align-items: center;
            border: crimson solid 1px;

            a {
                text-decoration: none;

                :hover {
                    color:crimson;
                }
            }
        }

        &__img {
            max-width: 250px;
            min-height: 187px;
            border-radius: 5px;
        }

        &__link {
            padding-top: 1rem;
            color: white;
            text-transform: uppercase;

            &:hover {
                color: crimson;
            }
        }
    }
    
}



// SECTOR PAÍSES

.carousel-item, .carousel-inner {
    max-width: 800px;
}

#carouselExampleIndicators {
    padding: 0 5rem;
}


.main-paises {

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    
    h2 {
        color: white;
        text-transform: uppercase;
    }

    &__divTitle {
        margin: 2rem 0rem 1rem 0rem;
    }

}

// Churrasquitos y burger

.combos {
    border-top: grey 3px dotted;
    padding: 3rem 0 3rem 0;

    & div {
        flex-wrap: wrap;
    }
}

.box {
    display: flex;
    @include flex(row, space-evenly);
    align-items: center;
    gap: 4rem;

    img {
        width: 500px;
    }

    &__left {
        border: $colorBorder 3px solid;
        border-radius: 5px;
        padding: 2rem;
        width: 424px;
        height: 350px;
    }

    &__textoUno {
        color: white;
        font-style: normal;
        text-transform: uppercase;
    }

    &__textoDos {
        padding-top: 2rem;
        p {
            color: crimson;
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
        }

    }
    
    &__buttom { 
        height: 50px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;

        a {
            padding: 1rem;
            background-color: crimson;
            border-radius: 5px;
            color: white;

            &:hover {
                color: black;
                font-weight: 900;
            }
        }
        
        &--margin {
            margin-top: 3.5rem;
        }
    }
}

    h3 {
        color: white;
        margin-bottom: 2rem;
    }
  

    // Sector Papas fritas

    .combos-fritas {
        border-top: grey 3px dotted; 
        padding-bottom: 2rem;

        &__title {
            padding-top: 3rem;
        }
    }

    #carouselExampleCaptions {
        padding: 0rem 7rem;
    }

    .carousel-caption {
        padding-bottom: 0rem;
        h5 {
            text-shadow: crimson 1px 1px 1px;
        }
        p {
            text-shadow: black 1px 1px 1px;
        }
        
    }

    // Sector Snacks 

    .snacks {

        margin: 1rem;

        &__contenedor {
            flex-wrap: wrap;
            border-top: grey 3px dotted;
            padding-top: 3rem;
        }

        &__card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__img {
            max-width: 550px;
            border-bottom: $colorBorder 3px solid;
            padding-top: 3rem;
            padding-bottom: 5rem;
        }

        &__lista {
            line-height: 3rem;
            margin-top: 3rem;
            padding: 1rem;
            list-style-type: none;
        }

        &__item {
            color: white;
            border-bottom: 1px $colorBorder dotted;
            text-align: left;

            span {
                color: crimson;
                font-weight: 500;
            }
        }

        &__left {
            border-left:$colorBorder solid 3px;
            border-right:$colorBorder solid 3px;
            border-top:$colorBorder solid 3px;
        }

        &__salsas {
            border-left:$colorBorder solid 3px;
            border-right:$colorBorder solid 3px;
            border-bottom:$colorBorder solid 3px;

            h3 {
                padding-top: 1rem;
                color:white;
            }

            p {
                color: white;
                padding-bottom: 1rem;
                font-weight: 600;
            }
            span {
                color: crimson;
            }
        }

    }

    .main__buttonUp {
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: crimson;
        color: white;
        text-decoration: none;

        &:hover {
            color: black;
            font-weight: 800;
        }
    }

    .txt__menu p{
        color: white;
    }

    .link__menu {
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: white;
        color: crimson;
        text-decoration: none;

        &:hover {
            color: black;
            font-weight: 800;
        }
    }





// RESPONSIVE --------------------------------------------------------------

@media screen and (max-width:500px) {

    //combos
    .main {

        &__title {
            margin-top: 1rem;
            border: $colorBorder 1px;
            border-style: dashed;
            padding: 1rem;
            width: 310px;

            h2 {
                padding: 0.5rem;
            }
        }

        &-contenedor {
            height: max-content;
            padding-bottom: 3rem;
            @include flex(column, space-evenly);
            overflow-x: hidden;
            gap: 0.5rem;
            border: none;
            max-width: 360px;
            margin: 0;

            &__card {
                margin-top: 1.5rem;
                display: flex;
                @include flex(column, center);
                align-items: center;
                margin-left: 0;
                margin-right: 0;
                max-width: 270px;
            }

            &__img {
                max-width: 250px;
            }

            &__link {
                padding-top: 1rem;
                text-transform: uppercase;
            }
        }
        
    }

    // países
    #carouselExampleIndicators {
        padding: 0 2rem;
    }

    .main-paises {
        text-align: center;
        padding: 0;
        border: none;

        &__divTitle {
            text-align: center;
            margin: 1.5rem;
        }

        &__title {
            border: $colorBorder 1px;
            border-style: dashed;
            padding: 1rem; 
        }
    }

    // Combos detallados

    .combos {
        display: flex;
        flex-direction: column;
        width: 320px;

        h3 {
            text-decoration:underline;
            font-size: 20px;
        }
    }

    .box {
        align-items: center;
        max-width: 360px;
        justify-content: center;
        gap: 2rem;

        &__left {
            max-width: 300px;
            height: 420px;

            &--small {
                height: 330px;
            }
        }

        img {
            max-width: 280px;
        }

        &__textoUno p{
            font-size: 0.9rem;
        }

        &__buttom {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        
    }   
     
    // Variedad de fritas 

    #carouselExampleCaptions {
        padding: 0.5rem 1.5rem;
    }

    .carousel-caption  {
        padding-bottom: 0.75rem;
        p {
            margin-bottom: 0;
            font-size: 0.7rem;
            color: white;
            font-weight: 900;
            text-shadow: black 1px 1px 1px;
        }

        h5 {
            visibility: hidden;
        }
        
    }

    .combos-fritas__title h3{
        font-size: 1.2rem;
    }

    // Snacks - nuggets y aros 

    .snacks {
        @include flex(column, center);
        align-items: center;

        &__card {
            @include flex(column, center);
        }

        &__title {
            font-size: 1rem;
        }

        &__img {
            width: 320px;
            border-bottom: none;
            padding-bottom: 0;
        }

        &__lista {
            margin: 0;
        }

        &__left {
            margin-top: 2rem;
        }

        &__left {
            border: none;
            padding-top: 0;
        }

        &__salsas {
            border: 2px solid $colorBorder;
            padding: 1rem;
        }

    }

}


