.main {
    background-color: black;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;

    h2 {
        color: white;
    }

    &__title {
        text-align: center;
        padding: 1rem;
    }
   
    &-contenedor {
        display: flex;
        background-color: black;
        height: 400px;
        width: 800px;
        overflow-x: scroll;
        padding: 0 1rem 0 1rem;
        gap: 2rem;
        border: black solid 1px;
        border-radius: 5px;


        &__card {
            min-width: 300px;
            height: 300px;
            background-color: black;
            margin-top: 3rem;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: crimson solid 1px;

            a {
                text-decoration: none;

                :hover {
                    color:crimson;
                }
            }
        }

        &__img {
            max-width: 250px;
        }

        &__sub {
            padding-top: 1rem;
            color: white;
        }
    }
    
}



@media screen and (max-width:600px) {

    .main {

        &-contenedor {
            height: max-content;
            padding-bottom: 3rem;
            @include flex(column, space-evenly);
            overflow-x: hidden;
            width: auto;
            gap: 0.5rem;

            &__card {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &__img {
                max-width: 250px;
            }

            &__sub {
                padding-top: 1rem;
            }
        }
        
    }

}
