.main {
    background-color: black;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 1;
    position: relative;

    h2 {
        color: white;
    }

    &__title {
        text-align: center;
        padding: 1rem;
    }
   
    &-contenedor {
        display: flex;
        background-color: black;
        padding: 1rem 1rem 1rem 1rem;
        gap: 2rem;
        border: rgb(58, 54, 54) dotted 1px;
        border-radius: 5px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;


        &__card {
            width: 300px;
            height: 300px;
            background-color: black;
            margin: 1rem;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: crimson solid 1px;

            a {
                text-decoration: none;

                :hover {
                    color:crimson;
                }
            }
        }

        &__img {
            max-width: 250px;
            min-height: 187px;
            border-radius: 5px;
        }

        &__link {
            padding-top: 1rem;
            color: white;
            text-transform: uppercase;

            &:hover {
                color: crimson;
            }
        }
    }
    
}



// SECTOR PAÍSES

.carousel-item, .carousel-inner {
    max-width: 800px;
}

#carouselExampleIndicators {
    padding: 0 5rem;
}


.main-paises {

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    

    h2 {
        color: white;
        text-transform: uppercase;
    }

    &__divTitle {
        margin: 2rem 0rem 1rem 0rem;
    }

}

// Churrasquitos y burger

.combos {
    border-top: grey 3px dotted;
    padding: 3rem 0 3rem 0;

    & div {
        flex-wrap: wrap;
    }
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;

    img {
        width: 500px;
    }

    &--left {
        border: rgb(75, 36, 36) 3px solid;
        border-radius: 5px;
        padding: 2rem;
        width: 424px;
        height: 350px;
    }

    &__textoUno {
        color: white;
        font-style: normal;
        text-transform: uppercase;
    }

    &__textoDos {
        padding-top: 2rem;
        p {
            color: crimson;
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
        }

    }
    
    &__buttom { 
        margin-top: 2rem;
        margin-bottom: 0.5rem;

        a {
            padding: 1rem;
            background-color: crimson;
            border-radius: 5px;
            color: white;

            &:hover {
                color: black;
                font-weight: 900;
            }
        }   
    }
}

    h3 {
        color: white;
        margin-bottom: 2rem;
    }
  

    // Sector Papas fritas

    .combos-fritas {
        border-top: grey 3px dotted; 
        padding-bottom: 2rem;

        &__title {
            padding-top: 2rem;
        }
    }

    #carouselExampleCaptions {
        padding: 0rem 7rem;
    }

    .carousel-caption p {
        text-shadow: black 1px 1px 1px;
    }









// RESPONSIVE --------------------------------------------------------------

@media screen and (max-width:360px) {

    //combos
    .main {

        &__title {
            margin-top: 1rem;
            border: rgb(75, 36, 36) 1px;
            border-style: dashed;
            padding: 1rem;
            width: 310px;

            h2 {
                padding: 0.5rem;
            }
        }

        &-contenedor {
            height: max-content;
            padding-bottom: 3rem;
            @include flex(column, space-evenly);
            overflow-x: hidden;
            gap: 0.5rem;
            border: none;
            max-width: 360px;
            margin: 0;

            &__card {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0;
                margin-right: 0;
                max-width: 270px;
            }

            &__img {
                max-width: 250px;
            }

            &__link {
                padding-top: 1rem;
                text-transform: uppercase;
            }
        }
        
    }

    // países
    #carouselExampleIndicators {
        padding: 0 2rem;
    }

    .main-paises {
        text-align: center;
        padding: 0;
        border: none;

        &__divTitle {
            text-align: center;
            margin: 1.5rem;
        }

        &__title {
            border: rgb(75, 36, 36) 1px;
            border-style: dashed;
            padding: 1rem; 
        }
    }

    // Combos detallados

    .combos {
        display: flex;
        flex-direction: column;
        width: 320px;

        h3 {
            text-decoration:underline;
            font-size: 20px;
        }
    }

    .box {
        align-items: center;
        max-width: 360px;
        justify-content: center;

        &--left {
            max-width: 300px;
            height: 420px;
        }

        img {
            max-width: 280px;
        }

        &__textoUno p{
            font-size: 0.9rem;
        }

        &__buttom {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        
    }   
     

    // Variedad de fritas 

    #carouselExampleCaptions {
        padding: 0.5rem 1.5rem;
    }

    .carousel-caption  {

        p {
            margin-top: 2rem;
            font-size: 0.7rem;
            color: white;
            font-weight: 900;
            text-shadow: black 1px 1px 1px;
        }

        h5 {
            visibility: hidden;
        }
        
    }

    .combos-fritas__title h3{
        font-size: 1.2rem;
    }
}


