
// estilos del form y texto

.contenedor-form {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    
    &__inputt {
        box-shadow: 20px 20px 10px black;
    }

    &__title {
        color: white;
        text-transform: uppercase;
    }

    &__div {
        width: 360px;
        padding: 1rem 0;
    }

    &__name, &__mail, &__msj, &__cel {
        color: crimson;
        font-weight: 400;
        text-shadow: 3px 3px 1px 1px black;
    }

    &__txtarea {
        background-color: black;
        margin-top: 1rem;
        opacity: 0.8;
        
        &:focus {
            color: white;
            font-style: italic;
        }
    }

    &__btn {
        padding: 0.5rem;
        background-color: crimson;
        color: white;
        margin-top: 1rem;

        &:hover {
            color: crimson;
            background-color: white;
        }
    }
}


.head__txt {
    color: white;
    font-style: italic;
    font-weight: 700;

    span {
        color: crimson;
        text-transform: uppercase;
        font-style:normal;
    }    
}

.footer--noborder {
    border: none;
    margin-top: 0;
}


// Responsive

@media screen and (max-width: 500px) {

    .contenedor-form {
        padding-top: 2rem;
    }
    .form__parrafo {
        margin-bottom: 10rem;
    }

    .footer--noborder {
        border-top: 3px solid white;
    }

    .head__txt {
        font-weight: 600;
    }

    .header--margin {
        margin-bottom: 10rem;
    }
}

